    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
      <div class="container">
      <a class="navbar-brand" href="/"><%= image_tag 'camplogo1.png' %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <% if current_user %>
          <%= link_to "Home", root_path, class: 'nav-link' %>
          <%= link_to "About", about_path, class: 'nav-link' %>
          
           <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Courses </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <% @topics.each do |topic| %>
                      <%= link_to topic.title, topic, class: "dropdown-item" %>

                  <% end %>
                  <hr>
                  <%= link_to 'View All Courses', courses_path, class: "dropdown-item" %>
              </div>
            </li>
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'nav-link' %>
            <% else %>
              <%= link_to "Sign In", new_user_session_path, class: 'nav-link' %>
            <% end %>  
            <%= link_to "Contact Us", contact_path, class: 'nav-link' %>
            
        </ul>
<!--         <form class="form-inline mt-2 mt-md-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
      </div>
    </div>
    </nav>