 <div class="container"> 
  <h2>Guides Search Results</h2>
  <div class="row">

    <% @guides.each do |guide| %>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          
            <%= image_tag guide.thumb_image %>
           
          
            <h2><%= link_to guide.title, guide %></h2>

            <p class="text-muted">Part: <%= guide.order_id %> of <%= link_to guide.course.title, guide.course %></p>
            <hr>
            <p><%= markdown truncate(guide.body, :length => 110) %></p>
           <!--  <td><%= guide.video_link %></td> -->
            
            
            
            <%= link_to 'View This Guide', guide, class:'btn btn-primary btn-block view-btn' %>
              <% if current_user.liked? guide  %>
                <%= link_to 'Remove From Favorites', dislike_guide_path(guide), method: :put, class: "btn btn-danger btn-block"  %>
                  
              <% else %> 

                <%= link_to 'Add To My Guides', like_guide_path(guide), method: :put, class: "btn btn-secondary btn-block" %>
              <% end %>
            <%= link_to 'Edit', edit_guide_path(guide), class:'btn btn-secondary btn-block' if logged_in?(:site_admin)%>
            <%= link_to 'Destroy', guide, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger btn-block' if logged_in?(:site_admin) %>
          
         </div>
      </div>
     </div> 

    <% end %>

  </div>
</div>  