<p id="notice"><%= notice %></p>
<div class="container">
 <div class='row'> 
    <div class="col-md-1">
     </div> 
      <div class="col-md-10"> 

        <div class="card">
         <%= image_tag @guide.video_link, class:"card-img-top video-panel" %>
        <div class="card-body">
        <h2 class="card-text">
          <%= @guide.title %>
        </h2>
        <p class="text-muted card-text">
          Part: <%= @guide.order_id %> of <%= @guide.course.title %>
        </p>
      </div>



        </div>

          <div>
            
            <%= markdown @guide.body %>
          </div>
          <!-- <p>
            <strong>Thumb image:</strong>
            <%= @guide.thumb_image %>
          </p> -->
          <%= link_to 'Edit', edit_guide_path(@guide) %> |
          <%= link_to 'Back', :back %>
          </div>
    <div class="col-md-1">
     </div>
 </div> 
</div>
